@font-face{
  font-family: 'regular';
  src: url("./fonts/Roboto-Regular.ttf") format('truetype');
  font-weight: 400;
}

@font-face{
  font-family: 'medium';
  src: url("./fonts/Roboto-Medium.ttf") format('truetype');
  font-weight: 500;
}

@font-face{
  font-family: 'bold';
  src: url("./fonts/Roboto-Bold.ttf") format('truetype');
  font-weight: 600;
}

.font-normal{
  font-family: "regular";
  font-size:14px;
}

.font-medium{
  font-family: "medium";
  font-size:14px;
}

.font-bold{
  font-family: "bold";
  font-size:14px;
}

p{
  margin:0;
  font-size:14px;
}

a{
  text-decoration: none;
  color:inherit;
  font-size:14px;
}

.size-16{
  font-size: 16px;
}

.media-query-test::after{
  content: "Desktop";
}

.row{
  display: flex;
}

.js-between{
  justify-content: space-between;
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.pv-15{
  padding-top:15px;
  padding-bottom:15px;
}

.pt-10{
  padding-top: 10px;
}

.pr-5{
  padding-right: 5px;
}

@media only screen and (min-device-width:300px) and (max-device-width:699px) {
  .media-query-test::after{
    content: "Mobile";
  }
}